<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="https://github.com/jcheung4/DSC180B">Project Repo</a></li>
			<li><a href="https://github.com/jcheung4/DSC180B-Website">Website Repo</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div>
		<div class="abstract">
			<h2>Abstract</h2>
			<p> [Abstract Content]</p>
		</div>
		<div class="introduction">
			<h2>Introduction</h2>
			<p>[Introduction Content]</p>
		</div>
		<div class="methods">
			<h2>Methods</h2>>
			<p>[Methods Content]</p>
		</div>
		<div class="results">
			<h2>Results</h2>>
			<p>[Methods Content]</p>
		</div>
		<div class="conclusion">
			<h2>Conclusion</h2>
			<p>[Conclusion Content]</p>
		</div>
	</body>
</html>
